@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Alt\ Thin.otf);
    font-style: thin;
    font-weight: 100;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Alt\ Light.otf);
    font-style: thin;
    font-weight: 200;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Thin.otf);
    font-style: thin;
    font-weight: 300;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/ProximaNova-Regular.otf);
    font-style: Bold;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Bold.otf);
    font-style: Bold;
    font-weight: 500;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Alt\ Bold.otf);
    font-style: Bold;
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Extrabold.otf);
    font-style: Bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../font/Proxima\ Nova\ Black.otf);
    font-style: Black;
    font-weight: 800;
}

.ant-menu-horizontal>.ant-menu-item>a, .menu_Item {
    /* color: #fff!important; */
    color: #000!important;
}

.U-Menu {
    line-height: 90px;
    text-align: end;
    font-size: 18px;
    height: 100%;
    padding: 0px 10px 0px 30px;
    border: none;
    font-weight: 500;
    /* background-color: #FFBA38; */
    /* background-color: #E8E8E8; */
    background: transparent;
    padding-right: 8rem;
}

.UAF-container-fluid {
    overflow-x: hidden;
}

.logo {
    background: url("../img/logo2.png");
    height: 80px;
    width: 150px;
    float: left;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px auto 8px 50px;
}

.header-comp {
    position: fixed;
    height: 90px;
    z-index: 98;
    width: 100%;
    /* max-width: 1920px; */
    padding: 0px 0px;
    background: #f2ba35;
    top: 0px;
    /* box-shadow: 0px 2px 5px #0000000d; */
}

.ant-menu-item:focus, .ant-menu-item:hover {
    outline: none;
}

/* Studio Page Css */

.uaf_std_hero {
    background-color: #FFBA38;
    /* background-color: #E8E8E8; */
}

.uaf_hero_title1 {
    text-align: left;
    font: normal normal 600 70px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    line-height: 1;
    margin: 0;
    margin-bottom: 1rem;
}

.uaf_hero_line1 {
    border: none;
    border-top: 8px solid #191919;
    max-width: 15%;
    margin-left: 0;
}

.uaf_hero_content_title {
    text-align: left;
    font: normal normal bold 35px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    line-height: 1.2;
    padding: 2rem 0;
}

.uaf_hero_content_text {
    text-align: left;
    font: normal normal normal 20px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 545px;
}

.alignSelfCenter {
    align-self: center;
}

.heroImage {
    position: relative;
    left: -160px;
    top: 0;
    width: auto;
    max-width: 750px;
    padding: 80px 0px;
}

.uaf_std_btnrow_btnCol {
    display: inline-block;
    text-align: center;
    border-top: 2px solid #53BDDB;
    border-bottom: 2px solid #53BDDB;
    border-left: 1.3px solid #53BDDB;
    border-right: 1.3px solid #53BDDB;
}

.uaf_std_btnrow_btnCol:first-child {
    border-left: none;
}

.uaf_std_btnrow_btnCol:last-child {
    border-right: none;
}

.uaf_std_btnrow_btnCol a {
    padding: 30px 0;
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_btn_row {
    max-width: 1920px;
    margin: 0 auto;
}

@media only screen and (device-width:1024px) {
    .heroImage {
        left: 0;
        max-width: 100%;
    }
    .uaf_std_hero {
        padding: 3rem 0;
    }
    .UAF-container-fluid {
        overflow-x: hidden;
    }
}

/* section1 */

.uaf_std_section1 {
    padding-top: 3rem;
    text-align: center;
}

.idealProcess {
    /* background: #E8E8E8 0% 0% no-repeat padding-box; */
    background: #F7FBFC 0% 0% no-repeat padding-box;
    padding: 5rem 0;
    margin: 5rem 0;
    margin-bottom: 0;
}

.idealProcessMain {
    margin: auto;
}

.idealProcess_heading {
    margin: auto;
}

.idealProcess h3 {
    color: #191919;
    /* font: normal normal bold 26px Proxima Nova; */
    font: normal normal 500 40px Proxima Nova;
}

.idealProcess hr {
    border: none;
    border-top: 8px solid #191919;
    max-width: 7%;
    margin: 1rem auto;
}

.idealProcess_mainContent {
    padding: 3rem 0;
    padding-bottom: 0;
}

.idealProcess_mainContent_col {
    border: none;
}

.idealProcess_mainContent_col_innermain {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #191919;
    padding: 1.5rem 1.25rem;
    margin: 1rem auto;
}

.idealProcess_mainContent_col_innermain img {
    width: 55px;
    height: 55px;
    margin-bottom: 0.8rem;
}

.idealProcess_mainContent_col_innermain p {
    color: #ffffff;
    margin: 0;
    display: flex;
    height: 42px;
    align-items: center;
    text-align: center;
    place-content: center;
}

.uaf_std_section_header {
    margin: 2rem 0;
    margin-bottom: 0;
}

.uaf_std_section1 .uaf_std_section_header h3 {
    padding-top: 4rem
}

.uaf_std_section_header h3 {
    text-align: center;
    font: normal normal 500 40px Proxima Nova;
    letter-spacing: 0px;
    line-height: 1;
    color: #191919;
    /* color: #FFFFFF; */
}

.uaf_std_section_header_line {
    border: none;
    border-top: 8px solid #191919;
    /* border-top: 8px solid #FFFFFF; */
    max-width: 10%;
    margin: 1rem auto;
}

.uaf_std_section_footer {
    margin: 2rem 0;
    margin-bottom: 0;
}

.uaf_std_section_footer h3 {
    text-align: center;
    font: normal normal 500 40px Proxima Nova;
    letter-spacing: 0px;
    line-height: 1;
    color: #191919;
}

.uaf_std_section_footer_line {
    border: none;
    /* border-top: 8px solid #191919; */
    border-top: 8px solid #191919;
    max-width: 10%;
    margin: 1rem auto;
}

.uaf_std_section_header_text {
    font: normal normal 400 19px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    /* color: #FFFFFF; */
    max-width: 740px;
    margin: 2rem auto;
}

.uaf_std_section_imgmain {
    margin: 0 auto;
    text-align: left;
}

.uaf_std_section_imgmain img {
    max-width: 100%;
    /* max-height: 630px; */
}

.uaf_std_section_cntnt {
    margin-top: 4rem;
}

.uaf_std_section_left {
    text-align: left;
    align-self: center;
}

.uaf_std_section_left h3 {
    text-align: left;
    font: normal normal bold 26px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_section_left p {
    text-align: left;
    font: normal normal 400 19px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 450px;
    margin: 2rem 0;
}

.uaf_std_section_left a {
    text-align: left;
    font: normal normal 200 20px Proxima Nova;
    letter-spacing: 0px;
    background: #191919;
    color: #F6F6F6;
    padding: 6px 30px;
    border-radius: 3px;
}

.uaf_std_section_right {
    text-align: right;
    align-self: center;
}

.uaf_std_section_right h3 {
    text-align: right;
    font: normal normal bold 26px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_section_right p {
    text-align: right;
    font: normal normal 400 19px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 450px;
    margin: 2rem 0;
    margin-left: auto;
}

.uaf_std_section_right a {
    text-align: right;
    font: normal normal 200 20px Proxima Nova;
    letter-spacing: 0px;
    background: #191919;
    color: #F6F6F6;
    padding: 6px 30px;
    border-radius: 3px;
}

.uaf_std_section_right img {
    max-width: 100%;
}

.uaf_std_section_left img {
    max-width: 100%;
}

.uaf_std_section_tile_outer {
    padding: 5rem 0;
}

/* 
.uaf_std_section_tile {
    padding: 1rem;
}

.uaf_std_section_tile_img {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: 15px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

.uaf_std_section_tile_img img {
    width: 40px;
} */

/* 
.uaf_std_section_tile h3 {
    font: normal normal bold 26px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 1.5rem 0;
}

.uaf_std_section_tile p {
    text-align: center;
    font: normal normal 400 19px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 1rem;
    padding-top: 0;
    max-width: 250px;
    margin: auto;
} */

.uaf_std_section_header_text_dark {
    font: normal normal 200 20px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 720px;
    margin: 2rem auto;
}

@media only screen and (max-device-width:768px) {
    .heroImage {
        position: relative;
        left: 0px;
        top: 0;
        width: auto;
        max-width: 100%;
        padding: 80px 0px;
    }
    .uaf_hero_title1, .uaf_hero_content_title, .uaf_hero_content_text, .uaf_std_section_right, .uaf_std_section_left h3, .uaf_std_section_left p, .uaf_std_section_right h3, .uaf_std_section_right p {
        text-align: center;
    }
    .uaf_hero_line1 {
        margin: auto;
    }
    .uaf_hero_content {
        padding-bottom: 5rem;
    }
    .uaf_std_section_left {
        text-align: center;
        padding: 3rem 0;
    }
    .uaf_std_section_right {
        text-align: center;
        padding: 3rem 0;
    }
    .uaf_std_section_header {
        margin: 5rem auto;
        margin-bottom: 0;
    }
    .uaf_std_section_header_line, .idealProcess hr {
        max-width: 35%;
    }
    .uaf_std_section1 .uaf_std_section_header_text {
        max-width: 550px;
    }
}

/* Section2 */

.uaf_std_section2 {
    text-align: center;
}

.uaf_std_section2 .uaf_std_section_header {
    margin: 3rem auto;
}

.uaf_std_section2 .uaf_std_section_header h3 {
    padding-top: 4rem;
}

.uaf_std_section2_imgRows {
    padding-bottom: 5rem;
}

.wonderingHow {
    /* background: #E8E8E8 0% 0% no-repeat padding-box; */
    background: #F7FBFC 0% 0% no-repeat padding-box;
    padding: 5rem 0;
    margin: 2rem 0;
    margin-bottom: 0;
}

.wonderingHowMain {
    margin: auto;
}

.wonderingHow_heading {
    margin: auto;
}

.wonderingHow h3 {
    color: #191919;
    /* font: normal normal bold 26px Proxima Nova; */
    font: normal normal 500 40px Proxima Nova;
}

.wonderingHow hr {
    border: none;
    border-top: 8px solid #191919;
    max-width: 7%;
    margin: 1rem auto;
}

.wonderingHow_mainContent {
    padding: 3rem 0;
    padding-bottom: 0;
}

.wonderingHow_mainContent_col {
    border: none;
    margin-bottom: 4rem;
}

.wonderingHow_mainContent_col_innermain {
    text-align: left;
    max-width: 310px;
}

.wonderingHow_mainContent_col_innermain img {
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
}

.wonderingHow_mainContent_col_innermain p {
    color: #191919;
    margin: 0;
    font: normal normal normal 16px Proxima Nova;
}

.wonderingHow_mainContent_col_innermain h4 {
    color: #191919;
    font: normal normal 500 22px Proxima Nova;
    margin-bottom: 1rem;
}

.wonderingHowMainBtn {
    padding: 1rem 0;
    width: 100%;
}

.wonderingHowMainBtn a {
    text-align: right;
    font: normal normal 200 20px Proxima Nova;
    letter-spacing: 0px;
    background: #191919;
    color: #F6F6F6;
    padding: 6px 30px;
    border-radius: 3px;
}

@media only screen and (max-device-width:768px) {
    .uaf_std_section2_imgRows {
        justify-content: center;
        padding: 0;
    }
    .wonderingHow_mainContent {
        margin: auto;
    }
    .wonderingHow_mainContent_col_innermain {
        max-width: 250px;
    }
    .wonderingHow hr {
        max-width: 18%;
    }
    .uaf_std_section2 .uaf_std_section_header_text_dark {
        max-width: 550px;
    }
}

@media only screen and (max-device-width:430px) {
    .wonderingHow_mainContent_col_innermain {
        margin: auto;
        text-align: center;
    }
}

/* Section3 */

.uaf_std_section3 {
    padding-top: 3rem;
    text-align: center;
}

.digitalPresence {
    background: #E8E8E8 0% 0% no-repeat padding-box;
    padding: 5rem 0;
    margin: 5rem 0;
    margin-bottom: 0;
}

.digitalPresenceMain {
    margin: auto;
}

.digitalPresence_heading {
    margin: auto;
}

.digitalPresence_mainContent {
    text-align: -webkit-center;
    margin-top: 3rem;
}

.digitalPresence_mainContentRow1 .digitalPresence_mainContent_col_innermain {
    text-align: left;
    max-width: 234px;
}

.digitalPresence_mainContentRow2 .digitalPresence_mainContent_col_innermain {
    text-align: left;
    max-width: 310px;
}

.digitalPresence_mainContent_col {
    border: none;
    margin-bottom: 4rem;
}

.digitalPresence_mainContent_col_innermain img {
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
}

.digitalPresence_mainContent_col_innermain p {
    color: #191919;
    margin: 0;
    font: normal normal 400 15px Proxima Nova;
}

.digitalPresence_mainContent_col_innermain h4 {
    color: #191919;
    font: normal normal 500 18px Proxima Nova;
    margin-bottom: 1rem;
}

.digitalPresenceMainBtn {
    padding: 2rem 0;
    padding-top: 3.5rem;
    width: 100%;
}

.digitalPresenceMainBtn a {
    text-align: right;
    font: normal normal 200 20px Proxima Nova;
    letter-spacing: 0px;
    background: #191919;
    color: #F6F6F6;
    padding: 6px 30px;
    border-radius: 3px;
}

.projectCaseStudyBody {
    /* background: #E8E8E8; */
    background: #F7FBFC 0% 0% no-repeat padding-box;
    margin-top: 4rem;
    padding: 5rem 0;
}

.CaseStudy_heading h3 {
    color: #191919;
    font: normal normal 500 40px Proxima Nova;
}

.CaseStudy_heading hr {
    border: none;
    border-top: 8px solid #191919;
    max-width: 7%;
    margin: 1rem auto;
}

@media only screen and (max-device-width:768px) {
    .uaf_std_section2_imgRows {
        justify-content: center;
        padding: 0;
    }
    .digitalPresence_mainContent {
        margin: auto;
    }
    .digitalPresence_mainContent_col_innermain {
        max-width: 250px;
    }
    .digitalPresence hr {
        max-width: 18%;
    }
    .uaf_std_section3 .digitalPresence_mainContent_col {
        text-align: left;
    }
    .uaf_std_section3 .uaf_std_section_header {
        max-width: 600px;
    }
    .digitalPresence_mainContentRow2 .digitalPresence_mainContent_col_innermain {
        max-width: 234px;
    }
    .digitalPresence_mainContentRow2 {
        justify-content: left;
    }
}

@media only screen and (max-device-width:430px) {
    .digitalPresence_mainContent_col_innermain {
        margin: auto;
        text-align: center;
    }
    .wonderingHow_mainContent_col_innermain, .digitalPresence_mainContentRow1 .digitalPresence_mainContent_col_innermain, .digitalPresence_mainContentRow2 .digitalPresence_mainContent_col_innermain {
        text-align: center;
        max-width: 100%;
    }
}

/* Section9 */

.uaf_std_section9 {
    padding-top: 3rem;
    text-align: center;
}

.uaf_std_card {
    border: none;
    border-radius: 10px 10px 0 0;
    background: transparent;
    text-align: left;
}

.uaf_std_card .ant-card-body {
    padding: 1rem 0;
}

.uaf_std_card img {
    box-shadow: none;
    border-radius: 4px;
}

.uaf_std_card_heading {
    text-align: left;
    font: normal normal 500 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 0;
    margin-bottom: 8px;
    max-width: 225px;
}

.uaf_std_card_date {
    text-align: left;
    font: normal normal 400 12px Proxima Nova;
    letter-spacing: 0px;
    color: #191919!important;
    padding: 0;
}

.uaf_std_section_tile_outer a h3 {
    font: normal normal normal 22px Proxima Nova;
    letter-spacing: 0px;
    color: #53BDDB;
    font-weight: 500;
    padding: 1rem 0;
}

.uaf_std_section_tile_outer .slick-slider .slick-arrow {
    display: none!important;
}

.uaf_std_section_tile_outer .slick-slider .ant-card-meta-detail {
    min-height: 80px;
    padding: 0.5rem 0;
}

.CaseStudy_cols {
    padding: 1rem;
}

.caseStudyImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.casestudyLogo {
    position: absolute;
    top: 25%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
    display: flex;
}

.companyLogo {
    opacity: 1;
    width: auto;
    height: auto;
    max-height: 80px;
    max-width: 120px;
    background-image: linear-gradient(to right, transparent, white);
}

.nobgimg {
    background-image: none!important;
}

.companyLogoName {
    font: normal normal 500 22px Proxima Nova;
    min-width: 130px;
    text-align: left;
    opacity: 0;
    transition: .5s ease;
    align-self: flex-end;
}

.CaseStudy_cols:hover .companyLogoName {
    margin-left: 15px;
    margin-bottom: 5px;
    opacity: 1;
}

.CaseStudy_cols:hover .casestudyLogo {
    top: 23%;
    left: 10.5%;
    transform: scale(0.8);
}

.CaseStudy_cols:hover .companyLogo {
    background-image: linear-gradient(to right, transparent, transparent);
}

.casestudyhoverBlocks {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    width: 70%;
}

.CaseStudy_cols:hover .caseStudyImg {
    opacity: 0.25;
}

.CaseStudy_cols:hover .casestudyhoverBlocks {
    opacity: 1;
}

.CaseStudy_cols p {
    color: #191919;
}

@media only screen and (max-device-width:1024px) {
    .CaseStudy_cols {
        margin: auto;
    }
    .CaseStudy_cols:hover .casestudyLogo {
        top: 14%;
        left: 4%;
        transform: scale(0.6);
    }
    .CaseStudy_cols p {
        max-height: 186px;
        text-overflow: ellipsis;
        overflow-y: hidden;
        max-width: 100%;
    }
}

@media only screen and (max-device-width:430px) {
    .CaseStudy_cols {
        margin: auto;
    }
    .CaseStudy_cols:hover .casestudyLogo {
        top: 10%;
        left: -2%;
        transform: scale(0.6);
    }
    .CaseStudy_cols p {
        max-height: 125px;
        text-overflow: ellipsis;
        overflow-y: hidden;
        max-width: 100%;
    }
    .casestudyhoverBlocks {
        top: 63%;
        left: 46.5%;
    }
}

.uaf_std_section3 .CaseStudy_heading {
    padding-bottom: 3rem;
}

/* Section 10 */

.uaf_std_section10 {
    /* background: #F9F9F9; */
    background: #F7FBFC 0% 0% no-repeat padding-box;
    padding-top: 3rem;
    text-align: center;
}

.ant-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #1919199f;
    border-radius: 0;
}

.ant-input:hover, .ant-input:focus, .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    background: transparent;
    border: none;
    border-bottom: 2px solid #1919199f;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.has-error .ant-input-affix-wrapper .ant-input:focus {
    border-color: #ff4d4f;
    outline: none;
    box-shadow: none;
}

.has-error .ant-input-affix-wrapper .ant-input, .has-error .ant-input-affix-wrapper .ant-input:hover {
    background: transparent;
}

.has-error .ant-form-explain, .has-error .ant-form-split {
    text-align: left;
    font-size: 12px;
}

.has-error .ant-input, .has-error .ant-input:hover {
    background: transparent;
    outline: none;
    box-shadow: none;
}

.uaf_cp_contactform_Main {
    padding: 4rem 3rem;
}

select[name="country"], select[name="city"], select[name="gettoknow"] {
    border: none;
    border-bottom: 2px solid #1919199f;
    margin-top: 0;
    outline: none;
    background: transparent;
    border-radius: 0;
    width: 100%;
    padding: 0;
}

option {
    padding: 0;
}

.ant-select-dropdown {
    color: #191919;
}

.uaf_cp_formbAboutInput, .uaf_cp_formbAboutInput:hover, .uaf_cp_formbAboutInput:active, .uaf_cp_formbAboutInput:focus {
    border: 2px solid #1919199f!important;
    border-right: 2px solid #1919199f!important;
    border-radius: 5px;
}

h1.ant-typography, .ant-typography h1, .footer-nav-item a span, .footer-copy-right a, .footer-copy-right {
    color: #ffffff;
}

.footer-copy-right {
    font-weight: 100;
}

div#Get_in_Touch_hearedAt.uaf_cp_formCountryInput>.ant-select-selection.ant-select-selection--single {
    border: none;
    border-radius: 0px;
    background: none;
    border-bottom: 2px solid #1919199f;
    box-shadow: none;
}

.uaf_cp_formNameInput, .uaf_cp_formEmailInput, .uaf_cp_formCountryInput {
    padding: 0;
}

.uaf_cp_formNameInput::-webkit-input-placeholder {
    /* Edge */
    color: #191919;
}

.uaf_cp_formNameInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #191919;
}

.uaf_cp_formNameInput::placeholder {
    color: #191919;
}

.uaf_cp_formEmailInput::-webkit-input-placeholder {
    /* Edge */
    color: #191919;
}

.uaf_cp_formEmailInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #191919;
}

.uaf_cp_formEmailInput::placeholder {
    color: #191919;
}

.uaf_cp_formbAboutInput::-webkit-input-placeholder {
    /* Edge */
    color: #191919;
}

.uaf_cp_formbAboutInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #191919;
}

.uaf_cp_formbAboutInput::placeholder {
    color: #191919;
}

.uaf_cp_formCountryInput::-webkit-input-placeholder {
    /* Edge */
    color: #191919;
}

.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    color: #191919;
}

.ant-select-selection--single .ant-select-selection__rendered {
    margin: 0;
}

.uaf_cp_formCountryInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #191919;
}

.uaf_cp_formCountryInput::placeholder {
    color: #191919;
}

.uaf_cp-speakwith-btn:active, .uaf_cp-speakwith-btn.active, .uaf_cp-speakwith-btn, .uaf_cp-speakwith-btn:focus {
    background: #191919;
    color: #FFFFFF;
    outline: none;
    border: none;
    box-shadow: none;
}

.Start-Now-btn {
    background: #191919;
    border-radius: "3px";
    border: 1px solid;
    color: #fff;
    width: 150px;
    height: 40px;
    font-size: 20px;
}

.menuToggleButton {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    height: 40px;
    z-index: 1;
    position: relative;
    padding-bottom: 0px;
    cursor: pointer;
}